In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv("home_prices_multi.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  680000
4  4000       5.0    8  725000

In [4]:
import math
med_bed = math.floor(df.bedrooms.median())
med_bed

3

In [7]:
df.bedrooms.fillna(med_bed, inplace=True)

In [8]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  680000
4  4000       5.0    8  725000

In [9]:
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']], df.price)

LinearRegression()

In [10]:
reg.predict([[5000, 7, 5]])

array([845587.5])

In [12]:
reg.coef_

array([  143.625, -6762.5  ,   337.5  ])

In [13]:
reg.intercept_

173112.5