In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
df = pd.read_csv('Stars.csv')

In [ ]:
df.sample(5)

     Temperature    Luminosity  ...  Spectral_Class           Type
266        36108  198000.00000  ...               O  Main Sequence
204        18340       0.00134  ...               B    White Dwarf
235        38940  374830.00000  ...               O     Hypergiant
264       999999       7.92000  ...               F  Main Sequence
84         14100       0.00067  ...               B    White Dwarf

[5 rows x 7 columns]

In [ ]:
df.head(10)

   Temperature  Luminosity  Radius  Magnitude Colour Spectral_Class       Type
0         3068    0.002400  0.1700      16.12    Red              M  Red Dwarf
1         3042    0.000500  0.1542      16.60    Red              M  Red Dwarf
2         2600    0.000300  0.1020      18.70    Red              M  Red Dwarf
3         2800    0.000200  0.1600      16.65    Red              M  Red Dwarf
4         1939    0.000138  0.1030      20.06    Red              M  Red Dwarf
5         2840    0.000650  0.1100      16.98    Red              M  Red Dwarf
6         2637    0.000730  0.1270      17.22    Red              M  Red Dwarf
7         2600    0.000400  0.0960      17.40    Red              M  Red Dwarf
8         2650    0.000690  0.1100      17.45    Red              M  Red Dwarf
9         2700    0.000180  0.1300      16.05    Red              M  Red Dwarf

In [ ]:
df[['Temperature', 'Luminosity', 'Radius', 'Magnitude', 'Colour', 'Spectral_Class', 'Type']].describe()

         Temperature     Luminosity       Radius   Magnitude
count     271.000000     269.000000   271.000000  271.000000
mean    25731.752768  112067.811930   222.432738    3.700052
std    119894.806861  185407.404256   502.571275   26.863778
min      1939.000000       0.000080     0.008400 -250.000000
25%      3445.500000       0.000930     0.110000   -6.235000
50%      7230.000000       1.350000     0.980000    4.780000
75%     17130.000000  200000.000000    37.500000   13.725000
max    999999.000000  849420.000000  1948.500000  200.000000

In [ ]:
cleaned_df = df[~df['Luminosity'].isna()]
cleaned_df

     Temperature     Luminosity  ...  Spectral_Class           Type
0           3068       0.002400  ...               M      Red Dwarf
1           3042       0.000500  ...               M      Red Dwarf
2           2600       0.000300  ...               M      Red Dwarf
3           2800       0.000200  ...               M      Red Dwarf
4           1939       0.000138  ...               M      Red Dwarf
..           ...            ...  ...             ...            ...
264       999999       7.920000  ...               F  Main Sequence
265        12098     689.000000  ...               A  Main Sequence
266        36108  198000.000000  ...               O  Main Sequence
267        33300  240000.000000  ...               B     Supergiant
268        40000  813000.000000  ...               O     Supergiant

[269 rows x 7 columns]

In [ ]:
df[df['Colour'].isna()]

Empty DataFrame
Columns: [Temperature, Luminosity, Radius, Magnitude, Colour, Spectral_Class, Type]
Index: []

In [ ]:
df[df['Spectral_Class'].isna()]

Empty DataFrame
Columns: [Temperature, Luminosity, Radius, Magnitude, Colour, Spectral_Class, Type]
Index: []

In [ ]:
df[df['Type'].isna()]

Empty DataFrame
Columns: [Temperature, Luminosity, Radius, Magnitude, Colour, Spectral_Class, Type]
Index: []

In [ ]:
# Function to get the lower and upper bound:

In [ ]:
def get_upper_lower(df, column_name):
  q1 = df[column_name].quantile(0.25)
  q3 = df[column_name].quantile(0.75)
  iqr = q3 - q1
  lower_limit = q1 - 1.5*iqr
  upper_limit = q3 + 1.5*iqr
  return upper_limit, lower_limit

In [ ]:
column_name = 'Temperature'
upper, lower = get_upper_lower(cleaned_df, column_name)

In [ ]:
upper, lower

(37688.5, -17107.5)

In [ ]:
cleaned_df = cleaned_df[(cleaned_df.Temperature>lower)&(cleaned_df.Temperature<upper)]

In [ ]:
column_name = 'Luminosity'
upper, lower = get_upper_lower(cleaned_df, column_name)

In [ ]:
upper, lower

(478749.9986875, -287249.9978125)

In [ ]:
cleaned_df = cleaned_df[(cleaned_df.Luminosity>lower)&(cleaned_df.Luminosity<upper)]

In [ ]:
cleaned_df

     Temperature     Luminosity  ...  Spectral_Class           Type
0           3068       0.002400  ...               M      Red Dwarf
1           3042       0.000500  ...               M      Red Dwarf
2           2600       0.000300  ...               M      Red Dwarf
3           2800       0.000200  ...               M      Red Dwarf
4           1939       0.000138  ...               M      Red Dwarf
..           ...            ...  ...             ...            ...
259         3531       0.000930  ...               M        unknown
260        33421  352000.000000  ...               O        unknown
265        12098     689.000000  ...               A  Main Sequence
266        36108  198000.000000  ...               O  Main Sequence
267        33300  240000.000000  ...               B     Supergiant

[242 rows x 7 columns]

In [ ]:
column_name = 'Radius'
upper, lower = get_upper_lower(cleaned_df, column_name)

In [ ]:
upper, lower

(64.2265375, -38.377562499999996)

In [ ]:
cleaned_df = cleaned_df[(cleaned_df.Radius>lower)&(cleaned_df.Radius<upper)]

In [ ]:
cleaned_df

     Temperature     Luminosity  ...  Spectral_Class           Type
0           3068       0.002400  ...               M      Red Dwarf
1           3042       0.000500  ...               M      Red Dwarf
2           2600       0.000300  ...               M      Red Dwarf
3           2800       0.000200  ...               M      Red Dwarf
4           1939       0.000138  ...               M      Red Dwarf
..           ...            ...  ...             ...            ...
256         3484       0.000551  ...               M        unknown
259         3531       0.000930  ...               M        unknown
265        12098     689.000000  ...               A  Main Sequence
266        36108  198000.000000  ...               O  Main Sequence
267        33300  240000.000000  ...               B     Supergiant

[198 rows x 7 columns]

In [ ]:
column_name = 'Magnitude'
upper, lower = get_upper_lower(cleaned_df, column_name)

In [ ]:
upper, lower

(37.053875000000005, -22.371125)

In [ ]:
cleaned_df = cleaned_df[(cleaned_df.Magnitude>lower)&(cleaned_df.Magnitude<upper)]

In [ ]:
cleaned_df

     Temperature    Luminosity  ...  Spectral_Class       Type
0           3068      0.002400  ...               M  Red Dwarf
1           3042      0.000500  ...               M  Red Dwarf
2           2600      0.000300  ...               M  Red Dwarf
3           2800      0.000200  ...               M  Red Dwarf
4           1939      0.000138  ...               M  Red Dwarf
..           ...           ...  ...             ...        ...
252        19400  10920.000000  ...               B    unknown
253         3463      0.002700  ...               M    unknown
255         7230      0.000080  ...               F    unknown
256         3484      0.000551  ...               M    unknown
259         3531      0.000930  ...               M    unknown

[195 rows x 7 columns]

In [ ]:
cleaned_df.to_csv()

",Temperature,Luminosity,Radius,Magnitude,Colour,Spectral_Class,Type\n0,3068,0.0024,0.17,16.12,Red,M,Red Dwarf\n1,3042,0.0005,0.1542,16.6,Red,M,Red Dwarf\n2,2600,0.0003,0.102,18.7,Red,M,Red Dwarf\n3,2800,0.0002,0.16,16.65,Red,M,Red Dwarf\n4,1939,0.000138,0.10300000000000001,20.06,Red,M,Red Dwarf\n5,2840,0.00065,0.11,16.98,Red,M,Red Dwarf\n6,2637,0.00073,0.127,17.22,Red,M,Red Dwarf\n7,2600,0.0004,0.096,17.4,Red,M,Red Dwarf\n8,2650,0.0006900000000000001,0.11,17.45,Red,M,Red Dwarf\n9,2700,0.00018,0.13,16.05,Red,M,Red Dwarf\n10,3600,0.0029,0.51,10.69,Red,M,Brown Dwarf\n11,3129,0.0122,0.3761,11.79,Red,M,Brown Dwarf\n12,3134,0.0004,0.196,13.21,Red,M,Brown Dwarf\n13,3628,0.0055,0.39299999999999996,10.48,Red,M,Brown Dwarf\n14,2650,0.0006,0.14,11.782,Red,M,Brown Dwarf\n15,3340,0.0038,0.24,13.07,Red,M,Brown Dwarf\n16,2799,0.0018,0.16,14.79,Red,M,Brown Dwarf\n17,3692,0.00367,0.47,10.8,Red,M,Brown Dwarf\n18,3192,0.0036200000000000004,0.1967,13.53,Red,M,Brown Dwarf\n19,3441,0.039,0.35100000000000003,11.18,Red,M,Brown Dwarf\n20,25000,0.055999999999999994,0.0084,10.58,'Blue White',B,White Dwarf\n21,7740,0.00049,0.01234,14.02,White,A,White Dwarf\n22,7220,0.00016999999999999999,0.011000000000000001,14.23,White,F,White Dwarf\n23,8500,0.0005,0.01,14.5,White,A,White Dwarf\n24,16500,0.013000000000000001,0.013999999999999999,11.89,'Blue White',B,White Dwarf\n25,12990,8.499999999999999e-05,0.00984,12.23,'Yellowish White',F,White Dwarf\n26,8570,0.00081,0.0097,14.2,'Blue white',A,White Dwarf\n27,7700,0.00011,0.0128,14.47,'Yellowish White',F,White Dwarf\n28,11790,0.00015,0.011000000000000001,12.59,'Yellowish White',F,White Dwarf\n29,7230,8e-05,0.013000000000000001,14.08,'Pale yellow orange',F,White Dwarf\n31,30000,28840.0,6.3,-4.2,Blue-white,B,Main Sequence\n32,15276,1136.0,7.2,-1.97,Blue-white,B,Main Sequence\n33,9700,74.0,2.89,0.16,Whitish,B,Main Sequence\n34,5800,0.81,0.9,5.05,yellow-white,F,Main Sequence\n35,8052,8.7,1.8,2.42,Whitish,A,Main Sequence\n36,6757,1.43,1.12,2.41,yellow-white,F,Main Sequence\n37,6380,1.35,0.98,2.93,yellow-white,F,Main Sequence\n38,5936,1.357,1.1059999999999999,4.46,yellow-white,F,Main Sequence\n39,5587,0.8190000000000001,0.99,5.03,yellow-white,F,Main Sequence\n40,3826,200000.0,19.0,-6.93,Red,M,Supergiant\n41,3365,340000.0,23.0,-6.2,Red,M,Supergiant\n43,3200,195000.0,17.0,-7.22,Red,M,Supergiant\n44,3008,280000.0,25.0,-6.0,Red,M,Supergiant\n45,3600,320000.0,29.0,-6.6,Red,M,Supergiant\n46,3575,123000.0,45.0,-6.78,Red,M,Supergiant\n49,33750,220000.0,26.0,-6.1,Blue,B,Supergiant\n60,3341,0.0056,0.057,16.23,Red,M,Red Dwarf\n61,3432,0.00067,0.19,16.94,Red,M,Red Dwarf\n62,2983,0.00023999999999999998,0.094,16.09,Red,M,Red Dwarf\n63,2835,0.00033999999999999997,0.0918,16.96,Red,M,Red Dwarf\n64,2935,0.00014,0.11599999999999999,18.89,Red,M,Red Dwarf\n65,3295,0.00098,0.132,17.13,Red,M,Red Dwarf\n66,2945,0.00032,0.09300000000000001,18.34,Red,M,Red Dwarf\n67,2817,0.00098,0.0911,16.45,Red,M,Red Dwarf\n68,2774,0.00036,0.11800000000000001,17.39,Red,M,Red Dwarf\n69,2871,0.00072,0.12,19.43,Red,M,Red Dwarf\n70,3345,0.021,0.273,12.3,Red,M,Brown Dwarf\n71,3607,0.022000000000000002,0.38,10.12,Red,M,Brown Dwarf\n72,3304,0.0085,0.18,13.2,Red,M,Brown Dwarf\n73,3150,0.0088,0.35,11.94,Red,M,Brown Dwarf\n74,3550,0.004,0.29100000000000004,10.89,Red,M,Brown Dwarf\n75,3180,0.001,0.35,11.76,Red,M,Brown Dwarf\n76,2890,0.0034,0.24,13.46,Red,M,Brown Dwarf\n77,3342,0.0015,0.307,11.87,Red,M,Brown Dwarf\n78,2621,0.0006,0.098,12.81,Red,M,Brown Dwarf\n79,3158,0.00135,0.161,13.98,Red,M,Brown Dwarf\n80,7100,0.00029,0.012,14.09,White-Yellow,F,White Dwarf\n81,10574,0.00014,0.0092,12.02,White,F,White Dwarf\n82,8930,0.00056,0.0095,13.78,white,A,White Dwarf\n83,17200,0.00098,0.015,12.45,'Blue White',B,White Dwarf\n84,14100,0.00067,0.0089,12.17,'Blue White',B,White Dwarf\n85,9675,0.00045,0.0109,13.98,'Blue White',A,White Dwarf\n86,12010,0.00078,0.0092,12.13,'Blue White',B,White Dwarf\n87,10980,0.00074,0.0087,11.19,'Blue White',B,White Dwarf\n88,13720,0.00018,0.00892,12.97,white,F,White Dwarf\n89,19860,0.0011,0.0131,11.34,Blue,B,White Dwarf\n90,5300,0.59,0.91,5.49,yellow-white,F,Main Sequence\n91,4526,0.153,0.865,6.506,yellowish,K,Main Sequence\n92,4077,0.085,0.795,6.228,yellowish,K,Main Sequence\n93,4980,0.35700000000000004,1.13,4.78,Yellowish,K,Main Sequence\n94,9030,45.0,2.63,1.45,Blue-white,A,Main Sequence\n95,11250,672.0,6.98,-2.3,Blue-white,A,Main Sequence\n96,5112,0.63,0.8759999999999999,4.68,Orange-Red,K,Main Sequence\n97,7720,7.92,1.34,2.44,yellow-white,F,Main Sequence\n98,12098,689.0,7.01,0.02,Blue-white,A,Main Sequence\n99,36108,198000.0,10.2,-4.4,Blue,O,Main Sequence\n100,33300,240000.0,12.0,-6.5,Blue,B,Supergiant\n102,23000,127000.0,36.0,-5.76,Blue,O,Supergiant\n104,11096,112000.0,12.0,-5.91,Blue,O,Supergiant\n105,14245,231000.0,42.0,-6.12,Blue,O,Supergiant\n106,24630,363000.0,63.0,-5.83,Blue,O,Supergiant\n107,12893,184000.0,36.0,-6.34,Blue,O,Supergiant\n108,24345,142000.0,57.0,-6.24,Blue,O,Supergiant\n120,3323,0.00043,0.0912,17.16,Red,M,Red Dwarf\n121,3531,0.00093,0.0976,19.94,Red,M,Red Dwarf\n122,3218,0.00054,0.11,20.02,Red,M,Red Dwarf\n123,3146,0.00015,0.0932,16.92,Red,M,Red Dwarf\n124,3511,0.00064,0.109,17.12,Red,M,Red Dwarf\n125,3225,0.0007599999999999999,0.121,19.63,Red,M,Red Dwarf\n126,2935,0.0008699999999999999,0.0932,16.88,Red,M,Red Dwarf\n127,2861,0.00018999999999999998,0.0899,16.71,Red,M,Red Dwarf\n128,2856,0.0008960000000000001,0.0782,19.56,Red,M,Red Dwarf\n129,2731,0.000437,0.0856,18.09,Red,M,Red Dwarf\n130,3095,0.00018999999999999998,0.49200000000000005,10.87,Red,M,Brown Dwarf\n131,3607,0.00022999999999999998,0.38,10.34,Red,M,Brown Dwarf\n132,3100,0.008,0.31,11.17,Red,M,Brown Dwarf\n133,2989,0.0087,0.34,13.12,Red,M,Brown Dwarf\n134,3542,0.0009,0.62,14.23,Red,M,Brown Dwarf\n135,3243,0.0023,0.73,14.75,Red,M,Brown Dwarf\n136,3091,0.0081,0.24,11.43,Red,M,Brown Dwarf\n137,3598,0.0011,0.56,14.26,Red,M,Brown Dwarf\n138,3324,0.0034,0.34,12.23,Red,M,Brown Dwarf\n139,3541,0.0013,0.256,14.33,Red,M,Brown Dwarf\n140,13420,0.00059,0.00981,13.67,'Blue White',B,White Dwarf\n141,21020,0.0015,0.0112,11.52,Blue,B,White Dwarf\n142,18290,0.0013,0.009340000000000001,12.78,Blue,B,White Dwarf\n143,14520,0.00082,0.00972,11.92,'Blue White',B,White Dwarf\n144,11900,0.00067,0.00898,11.38,'Blue white',B,White Dwarf\n145,8924,0.00028,0.008790000000000001,14.87,'Blue white',A,White Dwarf\n146,12912,0.0007099999999999999,0.00945,12.83,'Blue white',B,White Dwarf\n147,14732,0.00011,0.00892,12.89,white,F,White Dwarf\n148,7723,0.00014,0.00878,14.81,White,A,White Dwarf\n149,12984,0.00088,0.00996,11.23,'Blue White',B,White Dwarf\n150,29560,188000.0,6.02,-4.01,Blue-white,B,Main Sequence\n151,8945,38.0,2.487,0.12,Blue-White,A,Main Sequence\n152,14060,1092.0,5.745,-2.04,Blue-white,A,Main Sequence\n153,16390,1278.0,5.68,-3.32,Blue-white,B,Main Sequence\n154,25070,14500.0,5.92,-3.98,Blue-white,B,Main Sequence\n155,28700,16790.0,6.4,-4.09,Blue-white,B,Main Sequence\n156,26140,14520.0,5.49,-3.8,Blue-white,B,Main Sequence\n157,20120,4720.0,6.78,-3.4,Blue-white,B,Main Sequence\n158,13023,998.0,6.21,-1.38,Blue-white,A,Main Sequence\n160,25390,223000.0,57.0,-5.92,Blue,O,Supergiant\n161,11567,251000.0,36.0,-6.245,Blue,O,Supergiant\n164,8927,239000.0,35.0,-7.34,Blue,O,Supergiant\n165,7282,131000.0,24.0,-7.22,Blue,O,Supergiant\n167,26373,198000.0,39.0,-5.83,Blue,O,Supergiant\n168,17383,342900.0,30.0,-6.09,Blue,O,Supergiant\n169,9373,424520.0,24.0,-5.99,Blue,O,Supergiant\n180,2831,0.000231,0.0915,16.21,Red,M,Red Dwarf\n181,2914,0.0006309999999999999,0.11599999999999999,18.39,Red,M,Red Dwarf\n182,3419,0.000245,0.126,17.56,Red,M,Red Dwarf\n183,3218,0.000452,0.0987,17.34,Red,M,Red Dwarf\n184,3453,0.000621,0.0773,17.08,Red,M,Red Dwarf\n185,2889,0.000352,0.0973,16.93,Red,M,Red Dwarf\n186,2968,0.00046100000000000004,0.11900000000000001,17.45,Red,M,Red Dwarf\n187,3484,0.000551,0.0998,16.67,Red,M,Red Dwarf\n188,2778,0.000849,0.11199999999999999,19.45,Red,M,Red Dwarf\n189,3523,0.0009570000000000001,0.129,16.35,Red,M,Red Dwarf\n190,3462,0.0053,0.14800000000000002,11.47,Red,M,Brown Dwarf\n191,3257,0.0024,0.46,10.73,Red,M,Brown Dwarf\n192,2994,0.0072,0.28,13.45,Red,M,Brown Dwarf\n193,3212,0.0016,0.37799999999999995,12.854000000000001,Red,M,Brown Dwarf\n194,3523,0.0054,0.319,12.43,Red,M,Brown Dwarf\n195,3598,0.0027,0.67,13.667,Red,M,Brown Dwarf\n196,3142,0.00132,0.258,14.12,Red,M,Brown Dwarf\n197,3496,0.00125,0.336,14.94,Red,M,Brown Dwarf\n198,3324,0.0065,0.47100000000000003,12.78,Red,M,Brown Dwarf\n199,3463,0.0027,0.675,14.776,Red,M,Brown Dwarf\n200,16790,0.0014,0.0121,12.87,Blue,B,White Dwarf\n201,15680,0.00122,0.0114,11.92,Blue,B,White Dwarf\n202,14982,0.00118,0.0113,12.23,Blue,B,White Dwarf\n203,13340,0.00109,0.0116,12.9,Blue,B,White Dwarf\n204,18340,0.00134,0.0124,11.22,Blue,B,White Dwarf\n205,19920,0.00156,0.0142,11.34,Blue,B,White Dwarf\n206,24020,0.00159,0.0127,10.55,Blue,B,White Dwarf\n207,23092,0.00132,0.0104,10.18,Blue,B,White Dwarf\n208,17920,0.0011099999999999999,0.0106,11.66,Blue,B,White Dwarf\n209,19360,0.00125,0.00998,11.62,Blue,B,White Dwarf\n210,22350,12450.0,6.36,-3.67,Blue-white,B,Main Sequence\n211,10012,552.0,5.856,0.013000000000000001,Blue-white,A,Main Sequence\n212,13089,788.0,5.992000000000001,-0.12,Blue-white,A,Main Sequence\n213,22012,6748.0,6.64,-2.55,Blue-white,B,Main Sequence\n214,34190,198200.0,6.39,-4.57,Blue,O,Main Sequence\n215,32460,173800.0,6.237,-4.36,Blue,O,Main Sequence\n216,9320,29.0,1.91,1.236,Blue-white,A,Main Sequence\n217,19400,10920.0,6.03,-3.08,Blue-white,B,Main Sequence\n218,17140,883.0,5.653,-2.64,Blue-white,B,Main Sequence\n219,8250,9.25,1.93,-0.98,yellow-white,F,Main Sequence\n220,23678,244290.0,35.0,-6.27,Blue,O,Supergiant\n224,16787,246730.0,62.0,-6.35,Blue,O,Supergiant\n225,18734,224780.0,46.0,-7.45,Blue,O,Supergiant\n240,11567,251000.0,36.0,-6.245,Blue,O,unknown\n242,20120,4720.0,6.78,-3.4,Blue-white,B,unknown\n243,8500,0.0005,0.01,14.5,White,A,unknown\n244,6380,1.35,0.98,2.93,yellow-white,F,unknown\n245,3129,0.0122,0.3761,11.79,Red,M,unknown\n246,7282,131000.0,24.0,-7.22,Blue,O,unknown\n250,8052,8.7,1.8,2.42,Whitish,A,unknown\n251,22350,12450.0,6.36,-3.67,Blue-white,B,unknown\n252,19400,10920.0,6.03,-3.08,Blue-white,B,unknown\n253,3463,0.0027,0.675,14.776,Red,M,unknown\n255,7230,8e-05,0.013000000000000001,14.08,'Pale yellow orange',F,unknown\n256,3484,0.000551,0.0998,16.67,Red,M,unknown\n259,3531,0.00093,0.0976,19.94,Red,M,unknown\n"

In [ ]:
cleaned_df[['Temperature', 'Luminosity', 'Radius', 'Magnitude', 'Colour', 'Spectral_Class', 'Type']].describe()

        Temperature     Luminosity      Radius   Magnitude
count    195.000000     195.000000  195.000000  195.000000
mean    9539.815385   35323.671073    5.598610    8.319272
std     8183.793390   86200.952020   12.551229    8.705830
min     1939.000000       0.000080    0.008400   -7.450000
25%     3221.500000       0.000645    0.091350   -0.053500
50%     5936.000000       0.002400    0.273000   11.870000
75%    13890.000000     612.000000    5.571500   14.625000
max    36108.000000  424520.000000   63.000000   20.060000